.law_opt {
    height: 2rem;
    padding: 0.5rem 0;
    border-bottom: solid 1px #999999;
    margin-right: 7px;
    margin-bottom: 2px;
}

.law_opt.active {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(120deg, #ffcc00 0%, #ff9900 100%);
}

.law_opt.active:hover {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(120deg, #ffcc00 0%, #ff9900 100%);
}
.law_opt:hover {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(120deg, #ffe479 0%, #ffc163 100%);
}

.law_nav_opts {
    width: 100%;
    margin-left: -40px;
}

.navbar_opt:hover {
    color: #666666;
}

.navbar_opt {
    display: flex;
    justify-content: flex-start;
    line-height: 2.1rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.opt_logo {
    margin: 0 0.5rem;
}

.toggle_side {
    position: fixed;
    margin: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background: #999999;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
    display: none;
}

.toggle {
    display: none;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
    font-size: 1.2rem;
}
.toggle.active {
    display: block;
}

/* @media screen and (max-width: 900px) {
    .law_nav_opts {
        display: none;
    }
    .law_nav_opts.active {
        display: block;
    }
    .toggle_side {
        display: block;
    }
} */